body {
  border: none;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  background: linear-gradient(to right, #ACB6E5, #74ebd5);

}

.home-intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 90vh;
  width: 90vw;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.intro-area {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.lottie-responsive {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.home-intro-title {
  font-size: 6rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #000000;

}

#circliWelcome {
  margin-top: 15%;

}

.home-intro-subtitle {
  font-size: 1.5rem;
  opacity: 0.8;
  margin-top: 5px;
  color: #000000;
}


/* Container e Navbar */
.navbar-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  color: #000000;
}

.navbar-toolbar {
  padding: 0;
  width: 100%;

}

/* Impostazioni generali */
.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Feed Section */
.feed-container {
  padding: 20px;
}

.feed-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  display: block;
  box-shadow: '0 1px 5px rgba(0.2, 0.2, 0.2, 0.1)';
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-body {
  padding: 10px 0;
  color: #333;
}

.post-hashtags {
  font-style: italic;
  color: #2b50aa;
}

.post-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-button {
  background: none;
  border: none;
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: left;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.like-button:hover {
  color: #ff4d4d;
}

.comments-section {
  margin-top: 15px;
  width: 100%;
}

.comment {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: left;

}

.post-card {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);

}

textarea {
  width: 96%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea:focus {
  outline: none;
  border-color: #2b50aa;
}

.comment p {
  font-size: 14px;
  color: #555;
}

.comment strong {
  font-weight: bold;
  color: #2b50aa;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .home-intro-container {
    height: auto;
    justify-content: center;
    padding: 20px;
    margin-top: 10%;
  }

}

/* Schermi piccoli */
@media (max-width: 768px) {
  .feed-title {
    font-size: 1.5rem;
  }

  .post {
    padding: 10px;
    width:auto;
    margin-left:3%;
    margin-right:3%;
  }

  .post-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .like-button {
    font-size: 1rem;
  }

  .comments-section {
    margin-top: 15px;
  }

  textarea {
    font-size: 12px;
  }

  .comment p {
    font-size: 12px;
  }

  .lottie-responsive {
    width: 60%;
    height: auto;
    max-width: 400px;
  }

  .home-intro-container {
    height: auto;
    justify-content: center;
    padding: 20px;
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
  }

  .home-intro-title {
    font-size: 2.5rem;
    margin-top: -15%;
  }

  .home-intro-subtitle {
    font-size: 1.2rem;
  }


}

@media (max-width: 600px) {
  .home-intro-title {
    font-size: 2.5rem;
  }

  .home-intro-subtitle {
    font-size: 1.2rem;
  }

}

@media (max-width: 480px) {
  .feed-title {
    font-size: 1.2rem;
  }

  .post {
    padding: 8px;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;

  }

  .post-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .like-button {
    font-size: 1rem;
  }

  .comments-section {
    margin-top: 10px;
  }

  textarea {
    font-size: 12px;
  }

  .comment p {
    font-size: 12px;
  }

  .home-intro-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

@media (min-width: 1024px) {
  .post {
    width: auto;
    margin-right: 15%;
    margin-left: 15%;
  }
}