body{
  border:none;
  margin:0;
  font-family: 'Roboto', sans-serif;
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:100vh;
}

.home-intro-container {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-start;
  height: 90vh;
  width: 100vw;
  color: white;
  font-family: 'Roboto', sans-serif; 
  text-align: center;
}

.intro-area{
  margin-top:5%;
}

.home-intro-title {
  font-size: 6rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 700;

}

#circliWelcome{
  margin-top:15%;

}
.home-intro-subtitle {
  font-size: 1.5rem; 
  opacity: 0.8;
  margin-top: 5px;
}

/* Container e Navbar */
.navbar-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 10px 20px;
  position: sticky; 
  top: 0;
  z-index: 100;
  color:#000000;
}

.navbar-toolbar {
  padding: 0;
  width: 100%;
  
}

/* Impostazioni generali */
.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Feed Section */
.feed-container {
  padding: 20px;

}

.feed-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
  padding: 15px;
  border:none;
  display: block; 
  
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-body {
  padding: 10px 0;
  color: #333;
}

.post-hashtags {
  font-style: italic;
  color: #2b50aa;
}

.post-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-button {
  background: none;
  border: none;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.like-button:hover {
  color: #ff4d4d;
}

.comments-section {
  margin-top: 15px;
  width: 100%;
}

.comment {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.post-card {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);

}

textarea {
  width: 80%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea:focus {
  outline: none;
  border-color: #2b50aa;
}

.comment p {
  font-size: 14px;
  color: #555;
}

.comment strong {
  font-weight: bold;
  color: #2b50aa;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Schermi piccoli */
@media (max-width: 768px) {
  .feed-title {
      font-size: 1.5rem;
  }

  .post {
      padding: 10px;
  }

  .post-header {
      flex-direction: column;
      align-items: flex-start;
  }

  .like-button {
      font-size: 1rem;
  }

  .comments-section {
      margin-top: 15px;
  }

  textarea {
      font-size: 12px;
  }

  .comment p {
      font-size: 12px;
  }
}

@media (max-width: 600px) {
  .home-intro-title {
    font-size: 2.5rem;
  }

  .home-intro-subtitle {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .feed-title {
      font-size: 1.2rem;
  }

  .post {
      padding: 8px;
      width: auto;
      margin-left:3%;
      margin-right:3%;

  }

  .post-header {
      flex-direction: column;
      align-items: flex-start;
  }

  .like-button {
      font-size: 1rem;
  }

  .comments-section {
      margin-top: 10px;
  }

  textarea {
      font-size: 12px;
  }

  .comment p {
      font-size: 12px;
  }

}

@media (min-width: 1024px) {
  .post {
      width: auto;
      margin-right:15%;
      margin-left:15%;
  }
}